
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, sans-serif, monospace;
    font-size: 1rem;
    scroll-padding-top: 80px; 
    scroll-behavior: smooth;
}

body{
    background: #262626;
}

/*  Section Navbar  */

.navbar{
    background-color: #131313;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 auto;
}

#navbar__logo{
    background-color: rgb(95, 175, 125);
    color: #131313;
    border-radius: 10px;
    font-size: 1.8rem;
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar__menu{
    background-color: rgb(95, 175, 125);
    border-radius: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(19, 19, 19);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover{
    color:aliceblue;
    transition: all 0.2s ease;
}

/*  Section Hero  */

.main{
    height: max-content;
    display: flex;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 1;
}

.main__container{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    word-wrap: break-word;
    width: 80%;
    padding: 0 auto;
    margin: 15px auto;
    color:aliceblue ;
    text-align: center;
}

.main__content{
    margin: 15px auto;
    color:aliceblue ;
    text-align: center;
    width: 100%;
}

.main__paragraphe{
    font-size: 1.25rem;
    margin: 30px auto;
}

.main__title{
    font-size: 2rem;
}

.main__button{
    background-color:rgb(95, 175, 125);
    border: none;
    height: 40px;
    width: 85px;
    border-radius: 5px;
}

.main__buttonText{
    text-decoration: none;
    font-size: 1.3rem;
    color: #131313;
}

.main__buttonText:hover{
    color:aliceblue;
    transition: all 0.2s ease;
}

/*  Section Intro */

.intro__title {
    color: rgb(95, 175, 125);
    position: relative;
    font-size: 2rem;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.intro__title:before, .intro__title:after {
    position: absolute;
    top: 55%;
    overflow: hidden;
    width: 48.5%;
    height: 2px;
    content: '\a0';
    margin: 0 0 0 1.5%;
    background-color: rgb(95, 175, 125);
}

.intro__title:before {
    margin-left: -50%;
    text-align: right;
}

.intro__para {
    color:aliceblue;
    font-size: 1.3rem;
    word-wrap: break-word;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 60px;
}

/* Section Content */

.content{
    display: flex;
    margin-left: 15%;
}

.content__container{
    list-style-type: none;
    align-items: left;
    justify-content: left;
}

.content__articleLeft+.content__articleLeft{
    margin-top: 20px;
    margin-bottom: 20px;
}

.content__articleLeft{
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 20px;
    height: 450px;
    justify-content: center;
    margin-left: 0;
}

.content__img--card{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
}

.content__button{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 60px;
    position: relative;
    bottom: 0;
    background-color:rgb(95, 175, 125);
    height: 50px;
    width: 80px;
    border: none;
    border-radius: 5px;
}

.content__buttonText{
    color:rgb(19, 19, 19);
    text-decoration: none;
    font-size: 1.1rem;

}

.content__buttonText:hover{
    color:aliceblue;
    transition: all 0.2s ease;
}

.content__desc{
    color:aliceblue;
    width: 90%;
    height: 100%;
}

.content__title{
    height: 12%;
    font-size: 1.6rem;
    text-decoration-line: underline;
}

.content__text{
    height: 200px;
    width: 650px;
    font-size: 1.2rem;
}


.content__end{
    margin-left: auto;
    margin-left: auto;
    text-align: center;
}

.content__seeMore{
    color: rgb(95, 175, 125);
    font-size: 1.5rem;
}

.content__seeMore:hover{
    color:aliceblue;
    transition: all 0.2s ease;
}

/* Section Contact */

.contact {
    display: flex;
    margin-left: 5%;
}

.contact__container {
    list-style-type: none;
    align-items: left;
    justify-content: left;

}

.contact__set {
    color: rgb(95, 175, 125);
    display: flex;
}

.contact__icon {
    margin-right: 10px;
}

.contact__copy {
    color: rgb(95, 175, 125);
    margin-right: 10px;
}

.contact__copy--btn {
    background-color: rgb(95, 175, 125);
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 20px;
}

.contact__link {
    color: rgb(95, 175, 125);

}

.contact__link:hover {
    color:aliceblue;
    transition: all 0.2s ease;
}

